.header {
  max-width: 127rem;
  margin: 0 auto;
  height: 10rem;
  margin-bottom: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    font-weight: 600;
    font-size: 2.5rem;
  }

  &__nav {
    &--list {
      list-style: none;
      display: flex;
      gap: 5rem;
    }

    &--link {
      text-decoration: none;
      color: var(--color-light-2);
      transition: all 0.1s;

      &:hover {
        color: var(--color-light-1);
      }
    }
  }

  &__chat {
    text-decoration: none;
    color: inherit;
    background-color: var(--color-dark-2);
    display: inline-block;
    padding: 0.8rem 2.5rem;
    border-radius: 1.3rem;
  }
}
